<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4"><%= t('messages.welcome') %></h1>
  <p class="lead">Crypto Wallet, <%= t('messages.crypto') %></p>
  <hr class="my-4">
  <p><%= t('messages.options') %></p>
  <p class="lead">
    <%= render "menu" %>
  </p>
</div>